p {
    font-family: Montserrat;
    font-size: 26px;
    text-align: center;
    margin: 0;
}

.header {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 17px;
}

.u {
    text-decoration: underline;
}